<div class="navbar-drfood py-2 row">
    <button class="btn btn-warning boton col-1 ms-3" routerLink="/"> <span>{{'<'}}</span>
    </button>
    <div class="col-8">
        <div class="row">

            <h2 class="col-5 text-end">Productos</h2>
            <select class="col" (change)="onChange($event)">
                <option *ngFor="let tipo2 of tipos">{{tipo2.nombre}}</option>
            </select>
        </div>

    </div>

    <button class="btn btn-warning col-1 col-sm-2 boton ms-2"
        [disabled]="cantidad.length==0" routerLink="/carrito">
        carrito |{{cantidad.length}}</button>
</div>


<div class="lista row">
    <div class="col-12 col-sm-4" (click)="agregar(producto)" *ngFor="let
        producto
        of
        (productos)|filtro:tipo:'tipo'">
        <app-producto [producto]="producto"></app-producto>
    </div>

</div>
